body { margin-left: 20%;
    margin-right: 20%;
    background: #faebd0;
    text-align: justify }

p {text-indent: 1em;
margin-top: 0.25em;
margin-bottom: 0.25em;
font-family: "Times New Romans", Times, serif; }

h1, h2, h3, h4, h5, h6 {text-align: center; font-style: normal;
font-weight: normal; font-family: "Times New Romans", Times, serif; line-height: 1.5; 
margin-top: .5em; margin-bottom:
.5em;}

.foot { margin-left: 20%; margin-right: 20%; text-align: justify;
     text-indent: -3em; font-size: 90%; }

hr  { width: 50%; 
    text-align: center;}


h1 {font-size: 300%;
 margin-top: 0.6em;
 margin-bottom: 0.6em;
 letter-spacing: 0.12em;
 word-spacing: 0.2em;
 text-indent: 0em;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}
h4 {font-size: 120%;}
h5 {font-size: 110%;}

p.poem {text-indent: 0%;
     margin-left: 10%;
     font-size: 90%;
     margin-top: 1em;
     margin-bottom: 1em; }

p.letter {text-indent: 0%;
       margin-left: 10%;
       margin-right: 10%;
       margin-top: 1em;
       margin-bottom: 1em; }

p.letter2 {font-size: 120%;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em; }

p.noindent {text-indent: 0% }

p.center  {text-align: center;
        text-indent: 0em;
        margin-top: 1em;
        margin-bottom: 1em; }

p.right {text-align: right;
      margin-right: 10%;
      margin-top: 1em;
      margin-bottom: 1em; }

p.asterism {text-align: center;
        font-size: 150%;
        margin-top: 1em;
        margin-bottom: 1em; }

p.preface1 { margin-right: 2em; text-align: right; }

p.preface2 { margin-right: 4em; text-align: right; }

table.illus { font-variant: small-caps; font-weight: bold; }

p.illus { text-indent: -2em; margin-left: 2em; }

div.fig { display:block;
       margin:0 auto;
       text-align:center; }

SPAN.caps { font-variant: small-caps; }

img { display: block;
        margin-left: auto;
        margin-right: auto;     
        width: 100%;
}

figcaption {
        text-align: center;
        font-size: 12px;
        font-family: "Palatino Linotype", "Book Antiqua", serif;
        color:green;
}


a:link {color:blue; text-decoration:none}
a:visited {color:blue; text-decoration:none}
a:hover {color:red}